.toolbar-button{color:white}
.button-share{background-color: #eec504; color:#353200}
.toolbar-button--quiet{color:#333;}

.onsen-sliding-menu__menu .page__background{background:#222}
.onsen-sliding-menu__menu .navigation-bar__title{color:white}
.onsen-sliding-menu__menu .list{background-color:#222; color:white}
.onsen-sliding-menu__menu .list__item{color:#ccc; background-image: none; border-bottom:1px solid #292929}