<ons-page ng-controller="PageController">
    
    <ons-toolbar>
	    <div class="left"><ons-back-button></ons-back-button></div>
    </ons-toolbar>

    <section class="main_post">

	    <img ng-src="{{item.thumbnail_images.wapp_horizontal_large.url}}"/>

	    <div class="content_warper">
	
			<h1 class="title" ng-bind-html="item.title"></h1>

		    <div class="date">{{item.date_formated}} / {{item.author.name}}</div>
		
		    <div ng-bind-html="item.content"></div>
	
	        <!-- Display categories
	        <p class="categories" ng-show="{{item.categories.length}}"><ons-icon icon="tags"></ons-icon>
	        <span ng-repeat="category in item.categories">{{category.title}} ({{category.post_count}}){{$last ? '' : ', '}}</span>
	        </p>
			-->
			
	        <!-- Display tags
	        <p class="tags" ng-show="{{item.tags.length}}"><ons-icon icon="tags"></ons-icon>
	        <span ng-repeat="tag in item.tags">{{tag.title}} ({{tag.post_count}}){{$last ? '' : ', '}}</span>
	        </p>
			-->
				        
		    <ons-button class="button-share" ng-click="sharePost()">
		    	<ons-icon icon="ion-android-share-alt"></ons-icon> Share this post
		    </ons-button>
	
	        <!--<a class="post-url" ng-href="{{item.url}}">View post</a>-->
	
	        <!-- Open the post using the InAppBrowser plugin (org.apache.cordova.inappbrowser) 
	        <ons-button modifier="large" ng-click="loadURL(item.url)" class="post-show-more">
	        	View page
	        </ons-button>
	        -->
        
	    </div>

    </section>
    
</ons-page>